In [15]:
import pandas as pd

df = pd.read_csv('final_games.csv')
df.head()

,Game_ID,Rated,Variant,Speed,Created_At,Last_Move_At,Game_Status,Source,Winner,Opening_Name,...,Black_Inaccuracy,Black_Mistake,Black_Blunder,Black_ACPL,Clocks,Analysis,Total_Time_Init,Total_Time_Increment,Total_Time,Moves
0,PsevV6VH,True,standard,classical,2024-12-15T11:09:25.224000+00:00,2024-12-15T11:55:14.775000+00:00,resign,pool,white,English Opening: Symmetrical Variation,...,5,1,1,47,"[180003, 180003, 178499, 178019, 178339, 17757...","[{'eval': 14}, {'eval': 25}, {'eval': 26}, {'e...",1800,0,1800,Nf3 c5 c4 Nc6 Nc3 g6 e3 Bg7 d4 cxd4 exd4 d6 h3...
1,diLZa8sj,True,standard,classical,2024-10-28T13:54:16.605000+00:00,2024-10-28T14:32:21.403000+00:00,resign,pool,white,"French Defense: Winawer Variation, Advance Var...",...,4,0,1,31,"[180003, 180003, 179827, 179683, 178619, 17936...","[{'eval': 18}, {'eval': 28}, {'eval': 28}, {'e...",1800,0,1800,e4 e6 d4 d5 Nc3 Bb4 e5 Ne7 a3 Bxc3+ bxc3 b6 Bb...
2,O8TSZ7bq,True,standard,classical,2024-10-05T13:58:55.992000+00:00,2024-10-05T14:27:57.120000+00:00,resign,pool,black,London System,...,3,1,5,56,"[180003, 180003, 179707, 179035, 179051, 17678...","[{'eval': 17}, {'eval': 17}, {'eval': 11}, {'e...",1800,0,1800,d4 Nf6 Nf3 g6 Bf4 Bg7 e3 d6 Be2 O-O O-O Nbd7 h...
3,vtMjWIUv,True,standard,classical,2024-08-23T07:33:49.932000+00:00,2024-08-23T08:04:22.421000+00:00,resign,pool,white,"King's Indian Defense: Orthodox Variation, Pos...",...,5,1,2,42,"[180003, 180003, 179731, 179283, 179443, 17872...","[{'eval': 16}, {'eval': 17}, {'eval': 15}, {'e...",1800,0,1800,d4 Nf6 Nf3 d6 c4 g6 Nc3 Bg7 e4 O-O Be2 Nbd7 O-...
4,GC8I3jiq,True,standard,classical,2024-08-22T13:24:49.024000+00:00,2024-08-22T14:18:09.814000+00:00,draw,pool,NaN,"English Opening: Anglo-Indian Defense, King's ...",...,5,1,2,26,"[180003, 180003, 179867, 178467, 175067, 17782...","[{'eval': 17}, {'eval': 18}, {'eval': 23}, {'e...",1800,0,1800,Nf3 Nf6 c4 c5 g3 g6 b3 Bg7 Bb2 O-O Bg2 Nc6 O-O...

In [16]:
df.shape

(140792, 32)

In [18]:
df.head(2)

,Game_ID,Rated,Variant,Speed,Created_At,Last_Move_At,Game_Status,Source,Winner,Opening_Name,...,Black_Inaccuracy,Black_Mistake,Black_Blunder,Black_ACPL,Clocks,Analysis,Total_Time_Init,Total_Time_Increment,Total_Time,Moves
0,PsevV6VH,True,standard,classical,2024-12-15T11:09:25.224000+00:00,2024-12-15T11:55:14.775000+00:00,resign,pool,white,English Opening: Symmetrical Variation,...,5,1,1,47,"[180003, 180003, 178499, 178019, 178339, 17757...","[{'eval': 14}, {'eval': 25}, {'eval': 26}, {'e...",1800,0,1800,Nf3 c5 c4 Nc6 Nc3 g6 e3 Bg7 d4 cxd4 exd4 d6 h3...
1,diLZa8sj,True,standard,classical,2024-10-28T13:54:16.605000+00:00,2024-10-28T14:32:21.403000+00:00,resign,pool,white,"French Defense: Winawer Variation, Advance Var...",...,4,0,1,31,"[180003, 180003, 179827, 179683, 178619, 17936...","[{'eval': 18}, {'eval': 28}, {'eval': 28}, {'e...",1800,0,1800,e4 e6 d4 d5 Nc3 Bb4 e5 Ne7 a3 Bxc3+ bxc3 b6 Bb...

In [19]:
columns_for_eda = [
    'Game_Status', 'Source', 'Winner',
    'Opening_PLY', 'White_Player', 'White_Title',
    'Black_Player', 'Black_Title'
]

In [20]:
df_filtered = df.filter(items=columns_for_eda)

In [21]:
df_filtered.isna().sum() #проверяем на наличие пропусков
# В колонке Winner обнаружено 13689 пропусков (это 9,7% от общего кол-ва данных), 
# в колонке Opening_PLY обнаружено 1270 пропусков (это составляет 0,9% от общего кол-ва данных,
# White_Player количество пропусков 227 (это составляет 0,16% от общего объема данных),
# White_Title кол-во пропусков 94079 (это 69% от общего объема данных),
# Black_Player 311 (это 0,22% от общего объема данных),
# Black_Title количество пропусков 94280 (это 67% от общего объема данных).

Game_Status         0
Source              0
Winner          13689
Opening_PLY      1270
White_Player      227
White_Title     94079
Black_Player      311
Black_Title     94280
dtype: int64

In [34]:
# Замена пропусков на 'неизвестно'
columns_to_fill = ['Game_Status', 'Source', 'Winner', 'Opening_PLY', 'WhiteP_layer', 'White_Title', 'Black_Player', 'Black_Title']

# Проверка, какие колонки существуют
existing_columns = [col for col in columns_to_fill if col in columns_for_eda.columns]

# Замена пропусков на 'неизвестно' только в существующих колонках
columns_for_eda[existing_columns] = columns_for_eda[existing_columns].fillna('неизвестно')

In [35]:
columns_for_eda

              0
0   Game_Status
1        Source
2        Winner
3   Opening_PLY
4  White_Player
5   White_Title
6  Black_Player
7   Black_Title

In [8]:
df_filtered = df.filter(items=columns_for_eda)

In [36]:
columns_for_eda.isna().sum()

0    0
dtype: int64

In [10]:
df_filtered.info() #проверяем типы данных
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140792 entries, 0 to 140791
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Game_Status   140792 non-null  object
 1   Source        140792 non-null  object
 2   Winner        127103 non-null  object
 3   Opening_PLY   139522 non-null  float64
 4   White_Player  140565 non-null  object
 5   White_Title   46713 non-null   object
 6   Black_Player  140481 non-null  object
 7   Black_Title   46512 non-null   object
dtypes: float64(1), object(7)
memory usage: 8.6+ MB

In [37]:
df_filtered.describe().T

                count      mean       std  min  25%  50%  75%   max
Opening_PLY  139522.0  6.344412  3.910104  1.0  3.0  5.0  9.0  28.0

In [44]:
Winner_count = columns_for_eda['Winner'].value_counts()

KeyError: 'Winner'

In [43]:
Game_Status

NameError: name 'Game_Status' is not defined